h1 {
  text-align: center;
  font-weight: 900;
  padding: 1em;
  color: #ffb456;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.login-wrapper {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  background-image: url(https://img.freepik.com/free-photo/gray-abstract-wireframe-technology-background_53876-101941.jpg);
  background-size: cover;
}
