mat-card {
  width: 30em;
  text-align: center;
  background: #ffffff0d;
  backdrop-filter: blur(10px);
  border-top: 1px solid #fff3;
  border-left: 1px solid #fff3;
  box-shadow: 5px 5px 30px rgb(0 0 0 / 20%) !important;
  border-radius: 30px;
  padding: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

mat-form-field {
  width: 100%;
}

.mat-raised-button {
  margin: 0 2em !important;
  width: 10em;
  font-size: medium;
  height: 3rem;
}
