.table-wrapper {
  padding: 1em;
}

table {
  width: 100%;
}

.mat-header-cell,
.mat-cell {
  padding: 1em;
  font-size: 0.8em;
  text-align: center;
}

th.mat-header-cell {
  text-align: left;
  font-weight: 700;
}

::ng-deep .mat-sort-header-container {
  justify-content: center;
}
