html,
body,
header,
.view {
  height: 100%;
}

.navbar {
  background-color: #00000094 !important;
}

.view {
  background: -webkit-linear-gradient(45deg, #68d0ff, #453cf5 100%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 1000px;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .view {
    height: 650px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1c2331 !important;
  }
}
/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.3);
}

.top-nav-collapse {
  background-color: #1c2331;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1c2331;
  }
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1c2331;
}

.phase-i {
  color: #5682ff;
  box-shadow: 0px 0px 4px 2px #5682ff;
}

.phase-i:hover {
  box-shadow: 0px 0px 4px 6px #5682ff;
  cursor: pointer;
}

.phase-ii {
  color: #ffb456;
  height: 232px;
  box-shadow: 0px 0px 4px 2px #ffb456;
}

.phase-ii:hover {
  box-shadow: 0px 0px 4px 6px #ffb456;
  cursor: pointer;
}

.phase-iii {
  color: #ff5656;
  box-shadow: 0px 0px 4px 2px #ff5656;
}

.phase-iii:hover {
  box-shadow: 0px 0px 4px 6px #ff5656;
  cursor: pointer;
}

.card-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
}

.footer {
  color: #f0f8ff;
  font-weight: 200;
}

.about-content {
  padding-left: 7em;
}

.intro {
  justify-content: space-between;
  align-items: center;
}
