<div class="mat-sidenav-content">
  <mat-toolbar color="primary">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <mat-icon class="mr-1">groups</mat-icon>
    <span class="ml-1">Employee Portal</span>
  </mat-toolbar>
</div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <mat-icon
        class="account-icon m-auto"
        routerLink="/employee/profile"
        routerLinkActive="router-link-active"
        title="Hi {{ username }}!"
      >
        account_circle
      </mat-icon>
    </mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        [ngClass]="{ 'active-nav-item': routerLink === 'dashboard' }"
        href="/employee/dashboard"
        class="nav-list-header"
      >
        <u>Dashboard</u>
      </a>

      <a
        mat-list-item
        [ngClass]="{ 'active-nav-item': routerLink === 'leave' }"
        href="/employee/leave"
      >
        <mat-icon class="mr-1">date_range</mat-icon>
        Leave Request
      </a>
      <a
        mat-list-item
        [ngClass]="{ 'active-nav-item': routerLink === 'pay-slip' }"
        href="/employee/pay-slip"
      >
        <mat-icon class="mr-1">request_quote</mat-icon>
        Pay Slip
      </a>
      <a
        mat-list-item
        [ngClass]="{ 'active-nav-item': routerLink === 'notice' }"
        href="/employee/notice"
      >
        <mat-icon class="mr-1">receipt_long</mat-icon>
        Notice Period
      </a>
    </mat-nav-list>

    <mat-nav-list class="logout-nav-list">
      <a mat-list-item (click)="logout()">
        <mat-icon class="mr-1">logout</mat-icon>Logout</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
