<div class="mat-sidenav-content">
  <mat-toolbar color="primary">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async"
    >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <mat-icon class="mr-1">face</mat-icon>
    <span class="ml-1">Customer Portal</span>
  </mat-toolbar>
</div>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>
      <mat-icon
        class="account-icon m-auto"
        routerLink="/customer/profile"
        routerLinkActive="router-link-active"
        title="Hi {{ username }}!"
        >account_circle</mat-icon
      >
    </mat-toolbar>
    <mat-nav-list>
      <a
        mat-list-item
        [ngClass]="{ 'active-nav-item': routerLink === 'dashboard' }"
        href="/customer/dashboard"
        class="nav-list-header"
        ><u>Dashboard</u></a
      >

      <a
        mat-list-item
        [ngClass]="{ 'active-nav-item': routerLink === 'inquiry' }"
        href="/customer/inquiry"
        >Inquiry Data</a
      >
      <a
        mat-list-item
        [ngClass]="{ 'active-nav-item': routerLink === 'sales-order' }"
        href="/customer/sales-order"
        >Sales Order Data</a
      >
      <a
        mat-list-item
        [ngClass]="{ 'active-nav-item': routerLink === 'lod' }"
        href="/customer/lod"
        >List of Delivery</a
      >
    </mat-nav-list>

    <mat-nav-list class="fi-nav-list">
      <a
        mat-list-item
        [ngClass]="{ 'active-nav-item': routerLink === 'financial-sheet' }"
        class="nav-list-header"
        href="/customer/financial-sheet"
        ><u>Financial Sheet</u>
      </a>

      <a
        mat-list-item
        [ngClass]="{ 'active-nav-item': routerLink === 'invoice' }"
        href="/customer/invoice"
        >Invoice Details</a
      >
      <a
        mat-list-item
        [ngClass]="{ 'active-nav-item': routerLink === 'payments-aging' }"
        href="/customer/payments-aging"
        >Payments & Aging</a
      >
      <a
        mat-list-item
        [ngClass]="{ 'active-nav-item': routerLink === 'cd-memo' }"
        href="/customer/cd-memo"
        >Credit/Debit Memo</a
      >
      <a
        mat-list-item
        [ngClass]="{ 'active-nav-item': routerLink === 'overall-sales' }"
        href="/customer/overall-sales"
        >Overall Sales
      </a>
    </mat-nav-list>

    <mat-nav-list>
      <a
        mat-list-item
        [ngClass]="{ 'active-nav-item': routerLink === 'master-data' }"
        href="/customer/master-data"
        >Master Data Upload
      </a>
    </mat-nav-list>

    <mat-nav-list class="logout-nav-list">
      <a mat-list-item (click)="logout()"
        ><mat-icon class="mr-1">logout</mat-icon>Logout</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
