.mat-toolbar {
  background: #ff5656;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  background: #ff5656;
}

.sidenav .mat-toolbar {
  background: inherit;
  color: #fff;
}

.mat-list-item {
  color: #fff;
}

.account-icon {
  font-size: 2em;
  cursor: pointer;
}

.logout-nav-list {
  position: fixed;
  bottom: 1em;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-expansion-panel {
  background-color: #0000;
  box-shadow: none;
}

.nav-expansion-panel-title {
  color: #fff;
}

.nav-expansion-panel-header {
  padding: 0px 15px;
}

.nav-expansion-panel-icon {
  color: #fff;
}

.mat-expansion-panel-header {
  padding: 0 15px 16px;
}

.fi-nav-list {
  padding-top: 2em;
}

.active-nav-item {
  background: #e03939;
}

nav-item {
  background: #ff5656;
}
