<mat-card>
  <mat-card-title> Profile Details </mat-card-title>
  <mat-card-content>
    <div class="img-wrapper">
      <mat-icon>account_circle</mat-icon>
      <img
        *ngIf="formLoading"
        class="loading-gif"
        src="../../../assets/img/loading.gif"
      />
      <div *ngIf="!formLoading" class="employee-id">
        <mat-label>Employee ID:</mat-label>
        <span>{{ profileData.eid }}</span>
      </div>
    </div>
    <mat-accordion *ngIf="!formLoading">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Personal Details </mat-panel-title>
        </mat-expansion-panel-header>

        <button
          *ngIf="!isEditEnabled"
          mat-stroked-button
          class="edit-btn"
          (click)="edit()"
        >
          <span class="mr-1"> Edit</span> <mat-icon>edit</mat-icon>
        </button>

        <form [formGroup]="profileForm" class="personal-details">
          <mat-grid-list cols="4" class="grid-list-4" rowHeight="5em">
            <mat-grid-tile> </mat-grid-tile>
            <mat-grid-tile>
              <mat-label>Title:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field
                [appearance]="isEditEnabled ? 'outline' : 'legacy'"
              >
                <input
                  matInput
                  type="text"
                  formControlName="title"
                  color="primary"
                  [readonly]="!isEditEnabled"
                />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile> </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="4" class="grid-list-4" rowHeight="5em">
            <mat-grid-tile>
              <mat-label>First Name:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field
                [appearance]="isEditEnabled ? 'outline' : 'legacy'"
              >
                <input
                  matInput
                  type="text"
                  formControlName="name1"
                  color="primary"
                  [readonly]="!isEditEnabled"
                />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-label>Last Name:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field
                [appearance]="isEditEnabled ? 'outline' : 'legacy'"
              >
                <input
                  matInput
                  type="text"
                  formControlName="name2"
                  color="primary"
                  [readonly]="!isEditEnabled"
                />
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="4" class="grid-list-4" rowHeight="5em">
            <mat-grid-tile>
              <mat-label>Street:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field
                [appearance]="isEditEnabled ? 'outline' : 'legacy'"
              >
                <input
                  matInput
                  type="text"
                  formControlName="address"
                  color="primary"
                  [readonly]="!isEditEnabled"
                />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-label>City:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field
                [appearance]="isEditEnabled ? 'outline' : 'legacy'"
              >
                <input
                  matInput
                  type="text"
                  formControlName="city"
                  color="primary"
                  [readonly]="!isEditEnabled"
                />
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="4" class="grid-list-4" rowHeight="5em">
            <mat-grid-tile>
              <mat-label>Region:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field
                [appearance]="isEditEnabled ? 'outline' : 'legacy'"
              >
                <input
                  matInput
                  type="text"
                  formControlName="region"
                  color="primary"
                  [readonly]="!isEditEnabled"
                />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-label>Postal Code:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field
                [appearance]="isEditEnabled ? 'outline' : 'legacy'"
              >
                <input
                  matInput
                  class="input-number"
                  type="number"
                  formControlName="p_code"
                  color="primary"
                  [readonly]="!isEditEnabled"
                />
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="4" class="grid-list-4" rowHeight="5em">
            <mat-grid-tile>
              <mat-label>Nationality:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field
                [appearance]="isEditEnabled ? 'outline' : 'legacy'"
              >
                <input
                  matInput
                  type="text"
                  formControlName="nationality"
                  color="primary"
                  [readonly]="!isEditEnabled"
                />
              </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-label>Telephone:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-form-field
                [appearance]="isEditEnabled ? 'outline' : 'legacy'"
              >
                <input
                  matInput
                  class="input-number"
                  type="number"
                  formControlName="tel"
                  color="primary"
                  [readonly]="!isEditEnabled"
                />
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>
        </form>

        <mat-action-row *ngIf="isEditEnabled">
          <button
            mat-raised-button
            color="primary"
            (click)="save()"
            [disabled]="saveLoading"
          >
            <span
              *ngIf="saveLoading"
              class="spinner-border spinner-border-sm mr-1"
            >
            </span>
            Save
          </button>
          <button mat-stroked-button (click)="cancel()">Cancel</button>
        </mat-action-row>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Company Details </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="grid-container company-details">
          <mat-grid-list cols="6" rowHeight="5em">
            <mat-grid-tile>
              <mat-label>Company Code:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <span>{{ profileData.comp_code }}</span>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-label>Organization Unit:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile
              ><span>{{ profileData.org_unit }}</span>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-label>Organization Name:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <span>{{ profileData.org_name }}</span>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="6" rowHeight="5em">
            <mat-grid-tile>
              <mat-label>Employee Group:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <span>{{ profileData.emp_grp }}</span>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-label>Employee Subgroup:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <span>{{ profileData.emp_subgrp }}</span>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-label>Cost Center:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <span>{{ profileData.cost_center }}</span>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="6" rowHeight="5em">
            <mat-grid-tile>
              <mat-label>Area:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <span>{{ profileData.area }}</span>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-label>Contribution Area:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <span>{{ profileData.contr_area }}</span>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-label>Occ. Type:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <span>{{ profileData.o_type }}</span>
            </mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="4" rowHeight="5em">
            <mat-grid-tile>
              <mat-label>Start Date:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <span>{{ profileData.start_date | date }}</span>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-label>Status:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <span>{{ profileData.status }}</span>
            </mat-grid-tile>
          </mat-grid-list>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Private Details </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="grid-container private-details">
          <mat-grid-list cols="8" rowHeight="5em">
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile>
              <mat-label>Role:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <span>{{ profileData.role }}</span>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile>
              <mat-label>Role Name:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <span>{{ profileData.role_txt }}</span>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="8" rowHeight="5em">
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile>
              <mat-label>Address Key:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <span>{{ profileData.address_key }}</span>
            </mat-grid-tile>
            <mat-grid-tile> </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile>
              <mat-label>Gender:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <span>{{ profileData.gender }}</span>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
          </mat-grid-list>

          <mat-grid-list cols="8" rowHeight="5em">
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile>
              <mat-label>Date of Birth:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <span>{{ "1994-10-10" | date }}</span>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
            <mat-grid-tile>
              <mat-label>Marital Key:</mat-label>
            </mat-grid-tile>
            <mat-grid-tile>
              <span>{{ profileData.marital_key }}</span>
            </mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
          </mat-grid-list>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
