mat-card {
  margin: 1em;
  padding: 2em;
}

.mat-stroked-button {
  color: #ffb456;
}

.mat-raised-button {
  background: #ffb456;
}

.edit-btn {
  min-width: 50px;
  min-height: 50px;
  border-radius: 50px;
  float: right;
  z-index: 1;
}

.img-wrapper {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2em;
}

.img-wrapper mat-icon {
  font-size: 9em;
  width: 9em;
  height: 1em;
  margin-bottom: 10px;
}

.loading-gif {
  width: 25%;
}

mat-card-content {
  margin-top: 2em;
}

mat-label {
  margin-right: 1em;
}

mat-card-actions {
  text-align: center;
}

.mat-expansion-panel-header-title {
  font-weight: 500;
  font-size: 1.1rem;
}

::ng-deep .personal-details .grid-list-4 mat-grid-tile .mat-figure {
  justify-content: space-between !important;
  margin: 0 3em !important;
}

::ng-deep .company-details mat-grid-tile .mat-figure {
  justify-content: flex-end !important;
}

.employee-id span,
.company-details span,
.private-details span {
  background: #fafafa;
  padding: 0.6em;
  border-radius: 10px;
  width: 150px;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}
