<button mat-button (click)="goBack()">
  <mat-icon>arrow_back_ios</mat-icon>Back
</button>

<mat-card>
  <mat-card-title>Leave Data</mat-card-title>
  <mat-card-content>
    <div class="header">
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/employee/leave-request']"
        routerLinkActive="router-link-active"
      >
        <mat-icon>add</mat-icon>
        New Leave Request
      </button>
      <button
        mat-raised-button
        color="primary"
        (click)="openLeaveQuotaDialog()"
      >
        <mat-icon>event</mat-icon>
        Remaining Leave Quota
      </button>
    </div>
    <div *ngIf="error" class="error-msg">{{ error }}</div>
    <div class="loading-wrapper" *ngIf="loading && !error">
      <img class="loading-gif" src="../../../assets/img/loading.gif" />
    </div>
    <app-table
      *ngIf="!loading && !error"
      [tableConfig]="tableConfig"
    ></app-table>
  </mat-card-content>
</mat-card>
