/* You can add global styles to this file, and also import other style files */

* {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  /* font-family: "Balsamiq Sans", cursive;
  font-family: "Roboto", sans-serif; */
}

*::-webkit-scrollbar {
  width: 0.6em;
  height: 0.6em;
}

*::-webkit-scrollbar-track {
  box-shadow: 0 0 6px #8fa7eb;
}

*::-webkit-scrollbar-thumb {
  border-radius: 5em;
  background: #8fa7eb;
}
