<button mat-button (click)="goBack()">
  <mat-icon>arrow_back_ios</mat-icon>Back
</button>

<mat-card>
  <mat-card-title>Master Data Upload</mat-card-title>
  <mat-card-content>
    <span
      >Sample Data: <a href="../../../assets/format.xlsx">format.xlsx</a></span
    >
    <div>
      <file-pond
        #myPond
        [options]="pondOptions"
        [files]="pondFiles"
        (oninit)="pondHandleInit()"
        (onaddfile)="pondHandleAddFile($event)"
        (onremovefile)="pondHandleRemoveFile($event)"
        (onactivatefile)="pondHandleActivateFile($event)"
      >
      </file-pond>
    </div>

    <div *ngIf="file" class="content-wrapper">
      <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Key</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of jsonDataArray">
              <td>{{ item.key }}</td>
              <td>{{ item.value }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div>
        <button mat-raised-button [disabled]="loading" (click)="createData()">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Create Record
        </button>
      </div>
    </div>

    <div *ngIf="cust_id && !file" class="cust-wrapper">
      <h5>
        Customer Number <b class="mx-1">{{ cust_id }}</b> has been created!
      </h5>
    </div>
  </mat-card-content>
</mat-card>
