.mat-button {
  margin: 1em 0 0 2em;
}

mat-card {
  min-height: 34em;
  width: fit-content;
  min-width: 69em;
  height: fit-content;
  margin: 1em 2em;
}

.content-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin-top: 3em;
}

table {
  margin: auto;
  border: 1px solid #efefef;
  width: auto;
}

.content-wrapper .mat-raised-button {
  background: #ff5656;
  color: #f0f8ff;
}

.content-wrapper .mat-raised-button:hover {
  box-shadow: 0px 0px 4px 6px #ff565694;
  cursor: pointer;
}

.result-wrapper {
  background: #f1f0ef;
  border-radius: 1em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

app-table {
  width: 100%;
}

::ng-deep .filepond--root .filepond--credits {
  display: none;
}
