<button mat-button (click)="goBack()">
  <mat-icon>arrow_back_ios</mat-icon>Back
</button>

<mat-card>
  <mat-card-title>Master Data Upload</mat-card-title>
  <mat-card-content>
    <span>
      Sample Data: <a href="../../../assets/template.xlsx"> template.xlsx </a>
    </span>
    <div>
      <file-pond
        #myPond
        [options]="pondOptions"
        [files]="pondFiles"
        (onaddfile)="pondHandleAddFile($event)"
        (onremovefile)="pondHandleRemoveFile($event)"
      >
      </file-pond>
    </div>

    <div *ngIf="file" class="content-wrapper">
      <div>
        <button mat-raised-button [disabled]="loading" (click)="createData()">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Create Record
        </button>
      </div>

      <div>
        <app-table [tableConfig]="tableConfig"></app-table>
      </div>
    </div>

    <div *ngIf="result && result.length > 0" class="result-wrapper">
      <h5 *ngIf="result.length == 1">
        Customer <b class="mx-1">{{ result[0].cust_id }}</b> has been created!
      </h5>
      <div *ngIf="result.length > 1" style="width: 100%">
        <h5>Customer Records that were created</h5>
        <app-table [tableConfig]="resultTableConfig"></app-table>
      </div>
    </div>
  </mat-card-content>
</mat-card>
