.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

mat-card-content mat-icon {
  height: 80px;
  width: 80px;
  font-size: 10em;
  transform: translate(-50%, 0%);
  cursor: pointer;
}

.card-link {
  margin-left: -17px;
}

.card-desc {
  margin-bottom: 2em;
}
