<div class="home">
  <!-- About -->
  <div class="about">
    <h1 class="portal-title">Portal Phase I</h1>

    <mat-accordion multi>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> About Kaar </mat-panel-title>
        </mat-expansion-panel-header>
        Kaar Tech is a global consulting firm co-founded in 2006 by Mr. Maran
        Nagaraj, the current CEO. Kaar Tech designs and develops SAP services
        to solve various real-time challenges.
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> About Me </mat-panel-title>
        </mat-expansion-panel-header>
        Hello there👋, I am <b> Suryarajan S</b>. I am a full-stack web
        developer with over 1 year experience in React and NodeJS. From my
        college, I have greatly enhanced my programming skills by solving
        various problems and competing in competitions.
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> Current Status </mat-panel-title>
        </mat-expansion-panel-header>
        [TODO] Write about Customer Portal
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> About Portals </mat-panel-title>
        </mat-expansion-panel-header>
        <span>For the portal assignment, 7 portals are to be developed.</span>
        <div class="mx-5 mt-2 portals-list">
          <h5>Portals:</h5>
          <mat-list role="list">
            <mat-list-item role="listitem">
              <mat-icon class="pending-icon">pending</mat-icon>
              <!-- <mat-icon class="completed-icon">check_circle</mat-icon> -->
              Customer Portal</mat-list-item
            >
            <mat-list-item role="listitem"
              ><mat-icon class="pending-icon">pending</mat-icon>Vendor
              Portal</mat-list-item
            >
            <mat-list-item role="listitem"
              ><mat-icon class="pending-icon">pending</mat-icon>Employee
              Portal</mat-list-item
            >
            <mat-list-item role="listitem"
              ><mat-icon class="pending-icon">pending</mat-icon>Maintenance
              Portal</mat-list-item
            >
            <mat-list-item role="listitem"
              ><mat-icon class="pending-icon">pending</mat-icon>Production
              Portal</mat-list-item
            >
            <mat-list-item role="listitem"
              ><mat-icon class="pending-icon">pending</mat-icon>EHSM
              Portal</mat-list-item
            >
            <mat-list-item role="listitem"
              ><mat-icon class="pending-icon">pending</mat-icon>Quality
              Portal</mat-list-item
            >
          </mat-list>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <mat-divider [vertical]="true"></mat-divider>

  <!-- Portal Menu -->
  <div class="portal-menu">
    <mat-list-item role="listitem">
      <mat-card class="customer mb-5" (click)="navigate('customer')">
        <mat-card-title>
          <mat-icon>face</mat-icon>
          Customer Portal</mat-card-title
        >
        <mat-card-subtitle>A portal for Customers</mat-card-subtitle>
      </mat-card>
    </mat-list-item>

    <mat-list-item role="listitem">
      <mat-card class="vendor mb-5" (click)="navigate('vendor')">
        <mat-card-title>
          <mat-icon>shopping_cart</mat-icon>
          Vendor Portal</mat-card-title
        >
        <mat-card-subtitle>A portal for Vendors</mat-card-subtitle>
      </mat-card>
    </mat-list-item>

    <mat-list-item role="listitem">
      <mat-card class="employee" (click)="navigate('employee')">
        <mat-card-title>
          <mat-icon>groups</mat-icon>
          Employee Portal</mat-card-title
        >
        <mat-card-subtitle>A portal for Employees</mat-card-subtitle>
      </mat-card>
    </mat-list-item>
  </div>
</div>
